# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
out
.wrangler

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

apps/web/.data
# moon
.moon/cache
.moon/docker

# Testing ground
.testing-ground